*.json linguist-vendored=false
*.json linguist-generated=false
*.json linguist-documentation=false
*.json linguist-detectable=true

*.xml linguist-vendored=false
*.xml linguist-generated=false
*.xml linguist-documentation=false
*.xml linguist-detectable=true
